[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
git-split-commit = {editable = true,path = "."}
black = "*"
pytest = "*"
twine = "*"

[packages]
gitpython = "*"
click = "*"
coloredlogs = "*"
simple-term-menu = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
